<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Poetry Mahaputera - Anthology</title>
    <meta name="author" content="Taufik Ardiansyah">
    <meta name="title" content="Poetry Mahaputera - Anthology from various Poet">
    <meta name="description" content="Anthology Mahaputera is Anthology from various Poet with unique poetry style, and many Poet background. Poetry is a feeling expression and with some instrumental music will take you to poetry vibe">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://poetry.mahaputera.art/">
    <meta property="og:title" content="Poetry Mahaputera - Anthology from various Poet">
    <meta property="og:description" content="Anthology Mahaputera is Anthology from various Poet with unique poetry style, and many Poet background. Poetry is a feeling expression and with some instrumental music will take you to poetry vibe.">
    <meta property="og:image" content="{{ "/assets/img/bg.jpg" | prepend: site.baseurl }}">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://poetry.mahaputera.art/">
    <meta property="twitter:title" content="Poetry Mahaputera - Anthology from various Poet">
    <meta property="twitter:description" content="Anthology Mahaputera is Anthology from various Poet with unique poetry style, and many Poet background. Poetry is a feeling expression and with some instrumental music will take you to poetry vibe.">
    <meta property="twitter:image" content="{{ "/assets/img/bg.jpg" | prepend: site.baseurl }}">

    <title>Anthology</title>
    <link rel="icon" href="{{ "/assets/img/poetry.svg" | prepend: site.baseurl }}" sizes="any" type="image/svg+xml">
    <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
    <!-- Lato Font -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <!-- Stylesheet -->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css' rel='stylesheet' type='text/css'>
    <link href="{{ "/assets/css/gallery-materialize.min.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BGE4MQSNH9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BGE4MQSNH9');
    </script>
    <!-- <script data-ad-client="ca-pub-1677210814446547" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->

    <style>
      .modal {
        width: 90% !important;
      }

      @media only screen and (max-width: 992px) {
        .modal {
          width: 95% !important;
        }
      }
    </style>