<nav class="nav-extended" style="background-color: darkred;">
    <div class="nav-background" style="opacity: 0.7">
      <div class="pattern active" style="background-image: url('https://i.postimg.cc/CxQBYfCH/slashbg.png');"></div>
    </div>
    <div style="display: none;">
      <div id="player"></div>
    </div>
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo font-style">Mahaputera.art</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li><a href="https://mahaputera.art">Home</a></li>
          <li><a href="https://mahaputera.art/blog">Blog</a></li>
          <li><a href="https://mahaputera.art/archive">Archive</a></li>
          <li class="active"><a href="https://painting.mahaputera.art">Painting</a></li>
          <li><a href="https://photo.mahaputera.art">Photo</a></li>
          <li><a href="https://market.mahaputera.art">Market</a></li>
      </ul>

      <div class="nav-header center font-style">
        <h1>Painting Gallery</h1>
        <div class="tagline">gallery with different painting style from various artist</div>
      </div>
    </div>

    <div class="categories-wrapper darkred lighten-1">
      <div class="categories-container">
        <ul class="categories container">
          <li class="active"><a href="#all">All</a></li>
          <li><a href="#abstrak">Abstrak</a></li>
          <li><a href="#kubisme">Kubisme</a></li>
          <li><a href="#fauvisme">Fauvisme</a></li>
          <li><a href="#realisme">Realisme</a></li>            
        </ul>
      </div>
    </div>
  </nav>

  <ul class="side-nav" id="nav-mobile">
      <li>
        <a href="https://mahaputera.art"><i class="material-icons">dashboard</i>Home</a>
      </li>
      <li>
        <a href="https://mahaputera.art/blog"><i class="material-icons">article</i>Blog</a>
      </li>
      <li>
        <a href="https://mahaputera.art/archive"><i class="material-icons">event</i>Archive</a>
      </li>
      <li class="active">
          <a href="https://painting.mahaputera.art"><i class="material-icons">palette</i> Painting</a>
      </li>
      <li>
          <a href="https://photo.mahaputera.art"><i class="material-icons">camera_alt</i> Photo</a>
      </li>
      <li>
          <a href="https://market.mahaputera.art"><i class="material-icons">local_mall</i> Market</a>
      </li>
  </ul>